streamlit==1.30.0
PyMuPDF==1.23.9
PyPDF2==3.0.1
sentence-transformers==2.2.2
numpy==1.23.5
requests==2.31.0
python-dotenv==1.0.0
spacy==3.7.2
thinc==8.1.12
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
faiss-cpu==1.7.4